<html>
    <head>
        <title>DAIICT SBG Elections</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <article>
            <section class="header">
                <section class="menu">
                    <img class="logo" alt="DAIICT Logo" src="../images/daiictLogo.jpg"/>
                    <h1 class="heading">SBG ELECTIONS 2021-22</h1>
                </section>    
            </section>
            <marquee class="quote">
                <i>Welcome to the Polling Process for SBG Elections! Thank You for your valuable time, your Vote Matters!</i>
            </marquee>
            <aside class="admin">
                <h3>ADMIN</h3>
                <a href="addCandidates.html" class="add">Add Candidates</a>
            </aside>
            <nav class="pollNav">
                <a href="castVote.php" class="button">Cast Your Vote</a> <br>
                <a href="pollResults.php" class="button">Poll Results</a> <br>
                <a href="resultAnalysisReport.php" class="button">Results Report Analysis</a> <br>                
            </nav>
        </article>
    </body>
</html>